.headlabel {
	display: block;
	font-size: 2em;
	margin-block-start: 0.67em;
	margin-block-end: 0.27em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
}

/* anything with the "bigletters" class will have big green text */
.bigletters {
	font-size: 32px;
	font-weight: bold;
	color: green;
}

/* anything with the "error" class will be dark red */
.error {
	color: darkred;
}

* Create three unequal columns that floats next to each other * /
.column {
	float: left;
	padding: 10px;
	height: 120px; /* Should be removed. Only for demonstration */
}

.adelogo, .ibmlogo {
	float: left;
	width: 25%;
	background: #CED0C2;
}
.container{
	width: 90%;
}
.ibmlogo {
	width: 25%;
}

.banner {
	width: 50%;
}

* {
	box-sizing: border-box;
}


.imagesize {
	width: 25%
}

.adelog {
	float: left;
	box-sizing: border-box;
}

.ibmlog {
	float: left;
	box-sizing: border-box;
	background-image: url(/configwebapp/resources/css/line_resize.jpg);
}
.logobaner{
	padding-left: 208px;
	text-align:center;
}
.row::after {
	content: "";
	clear: both;
	display: table;
	text-align: center;
}

.div_backgrndimg {
	background-repeat: repeat;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	box-sizing: border-box;
	height: 93px;
	background-image: url(/configwebapp/resources/css/line_resize.jpg);
	width: 564px;
}

.banertext {
	background: #CED0C2;
}


.download-btn {
	display: inline-block;
	padding: 10px 20px;
	background-color: #0c74a9;
	color: #FFFFFF;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	text-decoration: none;
	transition: background-color 0.3s ease;
	position: relative;
	overflow: hidden;
}

.download-btn:hover {
	background-color: #DEDEDE;
	color: #000000;
}

.download-icon {
	margin-right: 5px;
}

.download-btn::after {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.3);
	transform: translateX(-50%) scaleX(0);
	transition: transform 0.5s ease-in-out;
	z-index: 1;
}

.download-btn:hover::after {
	transform: translateX(-50%) scaleX(1);
}

body {
	font-family: 'Muli', sans-serif;
}

h2 {
	font-family: 'Damion', cursive;
	font-weight: 400;
	color: #4caf50;
	font-size: 35px;
	text-align: center;
	position: relative;
}

h2:before {
	position: absolute;
	content: '';
	width: 100%;
	left: 0;
	top: 22px;
	background: #3F91B6;
	height: 1px;
}

h2 i {
	font-style: normal;
	background: #fff;
	position: relative;
	padding: 10px;
}

:focus {
	outline: none;
}

/* necessary to give position: relative to parent. */
input[type="text"] {
	font: 18px/24px 'Muli', sans-serif;
	color: #333;
	border-radius: 8px;
	width: 100%;
	box-sizing: border-box;
	letter-spacing: 1px;
}

:focus {
	outline: none;
}

.col-3 {
	float: left;
	width: 27.33%;
	margin: 18px 3%;
	position: relative;
	border-radius: 8px;
} /* necessary to give position: relative to parent. */
input{
	font: 15px/24px "Lato", Arial, sans-serif;
	color: #333;
	width: 100%;
	box-sizing: border-box;
	letter-spacing: 1px;
}

input:not(:placeholder-shown) {
	border-color: #3F91B6;
}

input:placeholder-shown {
	border-color: #889187;
}

.fieldset {
	border-radius: 10px;
	border: 2px solid  #3F91B6;
	width:100%;
	border-color:  #eceef5;
	border-width: 1px;

}

.fieldsetpwd {
	border-radius: 10px;
	border: 2px solid  #3F91B6;
	width:100%;
	border-color:  #eceef5;
	border-width: 1px;
	display: none;

}


.effect-19, .effect-20, .effect-21 {
	border: 1px solid #ccc;
	padding: 7px 14px;
	transition: 0.4s;
	background: transparent;
}

.effect-19 ~ .focus-border:before, .effect-19 ~ .focus-border:after {
	content: "";
	position: absolute;
	top: -1px;
	left: 50%;
	width: 0;
	height: 2px;
	background-color: #4caf50;
	transition: 0.4s;
	border-radius: 8px;
}

.effect-19 ~ .focus-border:after {
	top: auto;
	bottom: 0;
	border-radius: 8px;
}

.effect-19 ~ .focus-border i:before, .effect-19 ~ .focus-border i:after
	{
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	width: 2px;
	height: 0;
	background-color: #4caf50;
	transition: 0.6s;
	border-radius: 8px;
}

.effect-19 ~ .focus-border i:after {
	left: auto;
	right: 0;
}

.effect-19:focus ~ .focus-border:before, .effect-19:focus ~
	.focus-border:after, .has-content.effect-19 ~ .focus-border:before,
	.has-content.effect-19 ~ .focus-border:after {
	left: 0;
	width: 100%;
	transition: 0.4s;
}

.effect-19:focus ~ .focus-border i:before, .effect-19:focus ~
	.focus-border i:after, .has-content.effect-19 ~ .focus-border i:before,
	.has-content.effect-19 ~ .focus-border i:after {
	top: -1px;
	height: 100%;
	transition: 0.6s;
}

.effect-19 ~ label {
	position: absolute;
	left: 1px;
	width: 100%;
	top: -18px;
	color: #aaa;
	transition: 0.3s;
	z-index: -1;
	letter-spacing: 0.5px;
}

.effect-19:focus ~ label, .has-content.effect-19 ~ label {
	top: -18px;
	left: 0;
	font-size: 12px;
	color: #4caf50;
	transition: 0.3s;
}

.button_submit {
	display: block;
	margin: 0 auto;
	font-weight: bold;
}

.linnk_button {
	margin: 5px auto;
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 8px;
	font-family: Monospace;
	text-align: center;
	color: white;
	background-color: #0c74a9;
}
#contentpage{
	padding-left: 90px;
}

.button-click {
background-image: linear-gradient(92.88deg, #41babd 9.16%, #489d9b 43.89%, #11a197 64.72%);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #f1f8fc;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 4rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(65 186 189, 0.25) 1px 2px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 281px;
    height: 45px;
}

.button-click:hover {
  box-shadow: rgb(65 186 189, 0.5) 0 1px 30px; 
  transition-duration: .1s;
}
#submitbottonid{
	text-align: center;
}


/*Radio Button */


.checkboxes-and-radios input {
  display: none;
}

.checkboxes-and-radios label {
  cursor: pointer;
  padding-right: 35px;
  position: relative;
  display: block;
  font-size: 18px;
  padding: 15px 0;
}

.checkboxes-and-radios input[type="checkbox"]{
  position: absolute;
  visibility: hidden !important;
}

.checkboxes-and-radios input[type="checkbox"]+label:before,
.checkboxes-and-radios input[type="checkbox"]+label:after{
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -7.5px;
  box-sizing: border-box;
}

.checkboxes-and-radios input[type="checkbox"]+label:before{
  width: 54px;
  height: 25px;
  right: 0px;
  background: #fff;
  border: 1px solid #3F91B6;
  border-radius: 15px;
}

.checkboxes-and-radios input[type="checkbox"]+label:after{
 width: 28px;
  height: 25px;
  right: 25px;
  background: #BDBDBD;
  border-radius: 50%;
  transition: all 200ms ease-out;
}


.checkboxes-and-radios input[type="checkbox"]:checked+label:after{
  right: 0px;
  background: #3F91B6;
}


#rp-table {
	width: 800px;
	border: 1px solid #aaa;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
}

td, th {
	border: 1px solid #722408;
	text-align: left;
	padding: 3px;
}

tr:nth-child(even) {
	background-color: #ECF0F3;
}